<!DOCTYPE html>
{% extends "LoginApp/base.html" %}
{% block title %}admin site{% endblock %}
{% block body %}

<a href="/profile/">profile</a>
<a href="{% url 'LoginApp:logout-user' %}" style="text-align: end;">Logout</a>
<h2>{{User.role}} : Welcome {{User.first_name}}</h2>
<h2>Employee List  </h2>
<a href="/add/">add</a>
<div style="border: 2px;background-color: aliceblue;">
    
    <table class="table table-dark">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>email</th>
                <th>mobile</th>
                <th>role</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in Users %}
            <tr>
                <Td>{{user.first_name}}</Td>
                <Td>{{user.last_name}}</Td>
                <Td>{{user.email}}</Td>
                <Td>{{user.mobile}}</Td>
                <td>{{user.role}}</td>
                {% if user.role != 'admin' and User.role == 'hr' %}
                <td><a href="/update/{{user.id}}">update</a>/
                    <a href="/delete/{{user.id}}">delete</a></td>
                {% elif User.role == 'admin' %}
                <td><a href="/update/{{user.id}}">update</a>/
                    <a href="/delete/{{user.id}}">delete</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}



