<!DOCTYPE html>
{% extends 'LoginApp/base.html' %}
{% block title %}forget password{% endblock %}
{% block body %}
<div style="align-items: center;background-color: aliceblue;">
    <h2>Forgetpassword Page </h2>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">send</button>
    </form>
    <br>
    <a href="{% url 'LoginApp:login' %}">login</a>
    <a href="{% url 'LoginApp:signup' %}">    signup</a>
    <a href="{% url 'LoginApp:home' %}">Home</a>
</div>
{% endblock %}